fieldset 
{
    border: 1px solid #ffffff !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background:none;
    padding-left:10px!important;
    margin-bottom: 10px;
}   
    
legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 25%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #f0bcb4;
}

.rem-pad{
    padding: 10px !important;
}

.butn input[type="submit"] {
    padding: 10px 18px;
    font-size: 16px;
    background: #f0bcb4;
    color: white;
    border: none;
    outline: none;
    display: table;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input.ggg, select.ggg, textarea.ggg{
    margin: 2px 0px !important;
    padding: 7px 0px 7px 15px !important;
}

.nav-tabs>li>a {
    border: 1px solid #ffffff !important;
}

.m-top{
    margin-top: 20px;
}
.m-bottom{
    margin-bottom: 20px;
}
.fnt-weight{
    font-weight: 600 !important;
}